* text=auto
*.cs text
*.aspx text
*.ascx text
*.master text
*.config text
*.csproj text
*.sln text
*.css text
*.js text
*.json text
*.xml text
*.sql text
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.xlsx binary
