<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SuperAdminMaster.master.cs" Inherits="Training.SuperAdminMaster" %>
<!DOCTYPE html>
<html>
<head runat="server">
    <title>Training Management - Super Admin</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="../img/BSPHCL_Logo.jpg" rel="icon" />
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <style>
        .text-primary{font-size:30px}
        .superadmin-navbar{background:#fff}
        .superadmin-navbar .navbar-nav .nav-link{font-weight:600}
        .superadmin-badge{font-size:12px;margin-left:6px}
        @media(max-width:900px){.text-primary{font-size:15px;display:inline-block}}
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
<form id="form1" runat="server">
    <div class="container-fluid bg-light position-relative shadow">
        <nav class="navbar navbar-expand-lg navbar-light py-3 py-lg-0 px-2 superadmin-navbar">
            <a href="~/SuperAdmin/Default.aspx" class="navbar-brand font-weight-bold text-secondary" runat="server">
                <img src="../img/BSPHCL_Logo.jpg" alt="BSPHCL" />
                <span class="text-primary">Bihar State Power Holding Co. Ltd.</span>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav font-weight-bold mx-auto py-0">
                    <a href="~/SuperAdmin/UserManagement.aspx" id="lnkUserManagement" class="nav-item nav-link" runat="server">
                        <i class="fa fa-users-cog"></i> User Management
                    </a>
                    <a href="~/SuperAdmin/Logout.aspx" id="lnkLogout" class="nav-item nav-link" runat="server">
                        <i class="fa fa-sign-out-alt"></i> Logout
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>

    <footer class="container-fluid text-white mt-5 py-4 px-sm-3 px-md-5" style="background:#382621;">
        <p class="m-0 text-center">
            <img src="../img/SBPDCL.png" alt="SBPDCL" />
            <img src="../img/NBPDCL.png" alt="NBPDCL" />
            <img src="../img/BSPHCL_Footer.jpg" alt="BSPHCL" />
            <img src="../img/BSPTCL.png" alt="BSPTCL" />
            <img src="../img/BSPGCL.png" alt="BSPGCL" />
        </p>
        <p class="m-0 text-center text-white">
            &copy; Training Cell, BSPHCL. All Rights Reserved.
        </p>
    </footer>
</form>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>