<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SuperAdminMaster.master.cs" Inherits="Training.SuperAdminMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/BSPHCL_Logo.jpg" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />

    <!-- Flaticon Font -->
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet" />
    <style>
        .text-primary {
            font-size: 30px;
        }

        @media (max-width: 900px) {
            .text-primary {
                font-size: 15px;
                display: inline-block;
            }
        }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <!-- Navbar Start -->
        <div class="container-fluid bg-light position-relative shadow">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-2">
                <a href="Default.aspx" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px;">
                    <img src="../img/BSPHCL_Logo.jpg" alt="">
                    <span class="text-primary">Bihar State Power Holding Co. Ltd.</span>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav font-weight-bold mx-auto py-0">
                         <a href="~/SuperAdmin/Default.aspx" id="A1" class="nav-item nav-link" runat="server">Employee Details</a>
                        <%--<a href="~/Admin/EmpBasicMaster.aspx" id="A2" class="nav-item nav-link" runat="server">Employee Registration</a>--%>
                        <%--<a href="~/Admin/BulkExcelUpload.aspx.aspx" id="A3" class="nav-item nav-link" runat="server">Table Bulk Insertion</a>--%>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="A4" runat="server"  data-toggle="dropdown">Registrations</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="~/SuperAdmin/EmpBasicMaster.aspx" id="A5" runat="server" class="dropdown-item">Employee Registrations</a>
                                <a href="~/SuperAdmin/CreateTraining.aspx" id="A6" runat="server" class="dropdown-item">Training Creation</a>
                                <a href="~/SuperAdmin/AssignTraining.aspx" id="A7" runat="server" class="dropdown-item">Training Assign</a>
                                  <a href="~/SuperAdmin/TrainingUnAssign.aspx" id="A20" runat="server" class="dropdown-item">Training Un-Assign</a>
                                <a href="~/SuperAdmin/TrainingReAssign.aspx" id="A21" runat="server" class="dropdown-item">Training Re-Assign</a>
                            </div>
                        </div>
                         <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="A12" runat="server"  data-toggle="dropdown">Update Employee Training</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                 <a href="~/SuperAdmin/FindTrainingID.aspx"  id="test5" class="dropdown-item" runat="server">Find Training ID</a>
                                <a href="~/SuperAdmin/TrainingAttendance.aspx" id="A16" runat="server" class="dropdown-item">Training Attendance</a>
                                <a href="~/SuperAdmin/FeedbackReport.aspx" id="A18" runat="server" class="dropdown-item">Training Feedback Entry</a>
                                <a href="~/SuperAdmin/FeedbackTrainingRelated.aspx" id="A19" runat="server" class="dropdown-item">Training Feedback Aspects Entry</a>
                                <a href="~/SuperAdmin/BulkExcelUpload.aspx" id="A17" runat="server" class="dropdown-item">All Table Bulk Insertion</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="A2" runat="server"  data-toggle="dropdown">Reports</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="~/SuperAdmin/TrainingReports.aspx" id="A3" runat="server" class="dropdown-item">Attendance Based Training Reports</a>
                                <a href="~/SuperAdmin/TrainingDetailsReport.aspx" id="A10" runat="server" class="dropdown-item">Training Details Wise Search Report</a>
                                <a href="~/SuperAdmin/TrainingSearch.aspx" id="A11" runat="server" class="dropdown-item">Employee Wise Training Search Report</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="A8" runat="server"  data-toggle="dropdown">Controls</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="~/SuperAdmin/Check_Password.aspx" id="A9" runat="server" class="dropdown-item">Passwords</a>
                                <a href="~/SuperAdmin/Registration.aspx" id="A13" runat="server" class="dropdown-item">Registration</a>
                                <a href="~/SuperAdmin/BasicDetailsUpdate.aspx" id="A14" runat="server" class="dropdown-item">Update EmpBasicMaster</a>
                            </div>
                        </div>
                        <a href="~/SuperAdmin/Logout.aspx" id="test4" class="nav-item nav-link" runat="server">Logout</a>
                        


                    </div>

                </div>
            </nav>
        </div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
         <div style="height: 331px">

    </div>
        <hr />
       
        <div class="container-fluid text-white mt-5 py-5 px-sm-3 px-md-5"  style="background:#382621;">
            <div class="container-fluid pt-5" style="border-top: 1px solid rgba(23, 162, 184, .2);">

                <p class="m-0 text-center text-white">
                    <a href="https://sbpdcl.co.in/(S(iem0ypqlelegy0ovsf4v4sju))/frmhome.aspx" target="_blank">
                        <img src="../img/SBPDCL.png" /></a><a href="https://nbpdcl.co.in/(S(l34hd3wizjzir5u2po1rfweh))/frmhome.aspx" target="_blank"><img src="../img/NBPDCL.png" /></a><a href="https://bsphcl.co.in/" target="_blank"><img src="../img/BSPHCL_Footer.jpg" /></a><a href="https://www.bsptcl.in/" target="_blank"><img src="../img/BSPTCL.png" /></a><a href="https://bspgcl.bihar.gov.in/" target="_blank"><img src="../img/BSPGCL.png" /></a>
                </p>

                <p class="m-0 text-center text-white">
                    &copy; <a class="text-primary font-weight-bold" style="font-size: 15px;" href="#">Training Cell, BSPHCL</a>. All Rights Reserved. Designed & Developed 
                by 
                <a class="text-primary font-weight-bold" style="font-size: 15px;" href="#">Training Cell, BSPHCL</a>

                </p>

            </div>
        </div>
          
        <a href="#" class="btn btn-primary p-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>

    </form>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../SuperAdmin/lib/easing/easing.min.js"></script>
    <script src="../SuperAdmin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../SuperAdmin/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="../SuperAdmin/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="../SuperAdmin/mail/jqBootstrapValidation.min.js"></script>
    <script src="../SuperAdmin/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="../SuperAdmin/js/main.js"></script>
</body>
</html>
